<header>

  <nav>
    <input id="menu" type="checkbox" />
    <label for="menu" class="icon-menu">MENU</label>

    <ul>
      <li><a href="http://gulpjs.com/" class="icon-home">Gulp.JS</a></li>
      <li><a href="https://github.com/gulpjs/gulp/blob/master/docs/README.md" class="icon-docs">Gulp documentation</a></li>
      <li><a href="http://gulpjs.com/plugins/" class="icon-plugin">Gulp plugins</a></li>
      <li><a href="https://twitter.com/craigbuckler" class="icon-twitter">@craigbuckler</a></li>
    </ul>
  </nav>

</header>
