// helpers
@import 'helpers/_variables';
@import 'helpers/_mixins';

// base
@import 'base/_normalize';
@import 'base/_base';
@import 'base/_webfonts';
@import 'base/_forms';

// inline images
@import 'images/_datauri';

// components
@import 'components/_header';
@import 'components/_welcome';
@import 'components/_benefits';
@import 'components/_features';
@import 'components/_footer';
