// base styles
body, table, input, textarea, select {
  font-family: $base-font-standard;
  font-size: $base-font-size;
  font-weight: 400;
  @include reset;
  color: $color-text;
  background-color: $color-back;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 1em 0 0.2em 0;
}

h1 {
  font-size: 10vmin;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

a:link, a:visited {
  text-decoration: none;
  color: $color-main;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: $color-light;
}

// custom fonts
.wf-active {

  body, table, input, textarea, select {
    font-family: $base-font-custom;
  }

  h1, h2, h3, legend, button, a.button {
    font-family: $head-font-custom;
  }

}
