// features section
#features {
	width: 100%;
	padding: 5vh 5vw;
	background: $color-dark image-url("tools.jpg") 50% 50% no-repeat;
	background-size: cover;

	h2 {
		padding: 0;
		margin: 0 0 3vh 0;
		color: $color-back;
		@include drop-shadow;
	}

	ul {
		list-style-type: square;
		padding: 1vh 0;
		margin: 0;
		column-count: auto;
		column-gap: 2em;
		color: $color-back;
		background-color: rgba(0,0,0,0.6);
		border-radius: 0.5em;
	}

	li {
		column-break-inside: avoid;
		padding: 1vh 0;
		margin: 0 2em;
	}

	@media (min-width: $breakpoint-small) {
		ul {
			column-count: 2;
		}
	}

	@media (min-width: $breakpoint-medium) {
		ul {
			column-count: 3;
		}
	}

}
