footer {
	width: 100%;
	padding: 2vh 2vw;
	color: $color-back;
	background-color: $color-dark;

	fieldset {
		max-width: 50em;
		margin: 0 auto;
	}

	textarea {
		width: 100%;
		height: 3.65em;
		color: $color-main;
		border-color: $color-main;
	}

	textarea:focus {
		color: $color-light;
		border-color: $color-light;
	}

	p {
		clear: both;
		font-size: 0.85em;
		text-align: center;
		margin: 1em 0;
	}

	@media (min-width: $breakpoint-medium) {
		textarea {
			float: left;
			width: 70%;
		}

		button {
			margin: 0;
			width: 28%;
			float: right;
		}
	}

}
