// fonts
$base-font-size: 16px;
$base-font-standard: arial, helvetica, "free sans", sans-serif;
$base-font-custom: 'Raleway';
$head-font-custom: 'Bitter';

// colors
$text-main: #444;
$back-main: #fff;
